# Assignment 1

# Q1 -> In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
(a)  *
(b)  'hello'
(c)  -87.8
(d)  -
(e)  /
(f)  +
(g)  6

Ans -> 
(a)  Expression
(b)  Values
(c)  Values
(d)  Expression
(e)  Expression
(f)  Values

# Q2 -> What is the difference between string and variable?

Ans -> String ->


1. A string is a value representing task


2. A string is a literal text string,i.e. 'Hello'


3. All strings are variables


4. A string cannot hold a variable




Variable ->


1.A variable is a name that can refer to any value


2.A variable is something that stores data - it can store a string, int, float, class, etc.


3.All variables can not be a string


4.A variable can hold a string

In [62]:
# String Example ->
a = "10" 
b = "20" 
print(a+b)

1020

In [63]:
#Variable Example ->
a = 10 
b = 20
print(a+b)

30

# Q3 -> Describe three different data types.

Ans ->

1.List -> A List is a collection which is ordered and changeable and allows duplicate members.Eg-

In [64]:
mylist = ["apple", "banana", "cherry"]

In [65]:
mylist

['apple', 'banana', 'cherry']

In [66]:
print(type(mylist))

<class 'list'>

2.Tuple -> A Tuple is a collection which is ordered and unchangeable and Allows duplicate members.Eg-

In [67]:
tup = ("abc", 34, True, 40, "male")

In [68]:
tup

('abc', 34, True, 40, 'male')

In [69]:
print(type(tup))

<class 'tuple'>

3.Dictionary -> A Dictionary is a collection which is ordered and changeable and it does not allow duplicate members.Eg-

In [70]:
dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }

In [71]:
dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [72]:
print(type(dict))

<class 'dict'>

# Q4 -> What is an expression made up of? What do all expressions do?

Ans -> An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value.

# Q5-> This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans ->

Expression ->

1.An expression evaluates to a single value


2.Expression is a combination of variables,operations and values that yields a result value.e.g - 5 * 5 # yields 25

Statement ->

1.A statement does not evaluates to a single value

2.A Statements represent an action or command,e.g - print statements, assignment statements.
print 'hello', x = 1, spam = 10.i.e. 'Hello'

# Q6 -> After running the following code, what does the variable bacon contain?
bacon = 22


bacon + 1

In [73]:
#solution ->
bacon=22

In [74]:
bacon+1

23

In [75]:
bacon

22

# Q7 -> What should the values of the following two terms be?
'spam' + 'spamspam'



'spam' * 3

In [76]:
#solution ->
'spam' + 'spamspam'

'spamspamspam'

In [77]:
'spam' * 3

'spamspamspam'

Both expressions evaluate to the string 'spamspamspam'.

# Q8 -> Why is eggs a valid variable name while 100 is invalid?

Ans -> Eggs is a valid variable name while 100 is invalid because variable names cannot begin with a number.

# Q9 -> What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans ->The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them

# Q10 -> Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. The correct way is 'I have eaten ' + str(99) + ' burritos'.

In [78]:
#wrong way
a = 'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [79]:
#right way after correction
a = 'I have eaten ' + str(99) + ' burritos'

In [80]:
a

'I have eaten 99 burritos'