In [1]:
print("naveen gupta")

naveen gupta

In [5]:
a=2
b=3
print(a+b)

5

In [6]:
print(a-b)

-1

In [7]:
age=22
salary=4000
int(salary)

4000

In [8]:
float(age)

22.0

In [9]:
a='naveen'

In [10]:
a[0]

'n'

In [11]:
a[1]

'a'

In [12]:
a[2]

'v'

In [13]:
a[0:4]

'nave'

In [14]:
'v' in a

True

In [15]:
'z' in a

False

In [18]:
b='\tgupta'
print(a+b)

naveen	gupta

In [22]:
print(a+" " +b)

naveen 	gupta

In [23]:
age=22
print(a+" " +str(age))

naveen 22

In [24]:
c=a[: : -1]
c

'neevan'

In [25]:
#list
a=['naveen','arun','jyoti','kamal']
a

['naveen', 'arun', 'jyoti', 'kamal']

In [27]:
a[2]

'jyoti'

In [29]:
a.append("sakshi ")
a

['naveen', 'arun', 'jyoti', 'kamal', 'sakshi 2', 'sakshi ']

In [30]:
a[0]='neha'
a

['neha', 'arun', 'jyoti', 'kamal', 'sakshi 2', 'sakshi ']

In [31]:
a.remove("neha")
a

['arun', 'jyoti', 'kamal', 'sakshi 2', 'sakshi ']

In [32]:
b=[1,2,3,4]
b

[1, 2, 3, 4]

In [33]:
print(a+b)

['arun', 'jyoti', 'kamal', 'sakshi 2', 'sakshi ', 1, 2, 3, 4]

In [34]:
a.sort()
a

['arun', 'jyoti', 'kamal', 'sakshi ', 'sakshi 2']

In [35]:
a.reverse()
a

['sakshi 2', 'sakshi ', 'kamal', 'jyoti', 'arun']

In [36]:
min(b)

1

In [37]:
max(b)

4

In [38]:
a={"name":"naveen","age":"22"}
a

{'name': 'naveen', 'age': '22'}

In [39]:
type(a)

dict

In [40]:
a.keys()

dict_keys(['name', 'age'])

In [41]:
a.values()

dict_values(['naveen', '22'])

In [43]:
a["name"]

'naveen'

In [44]:
a["age"]

'22'

In [45]:
a["age"]=22

In [46]:
a

{'name': 'naveen', 'age': 22}

In [47]:
a["hobbies"]="dancing"

In [48]:
a

{'name': 'naveen', 'age': 22, 'hobbies': 'dancing'}

In [49]:
b={"college":"sggs"}
b

{'college': 'sggs'}

In [50]:
a.update(b)

In [51]:
a

{'name': 'naveen', 'age': 22, 'hobbies': 'dancing', 'college': 'sggs'}

In [52]:
a.clear()
a

{}

In [54]:
del(a)

In [55]:
a

NameError: name 'a' is not defined

In [56]:
#tuples
a=('jas','neha','rohit','arun',1,2,3)
a

('jas', 'neha', 'rohit', 'arun', 1, 2, 3)

In [58]:
a[2]="tanu"

TypeError: 'tuple' object does not support item assignment

In [59]:
#functions
def hello():
    print("hello naveen")
hello()

hello naveen

In [61]:
def hello1(name):
    print("hello",name)
hello1('xyz')

hello xyz

In [62]:
def hello2(name,age):
    print(name)
    print(age)
hello2('xyz',23)

xyz
23

In [63]:
def tech(name,age=67):
    print(name)
    print(age)

In [64]:
tech("dfg")

dfg
67

In [65]:
def add(a,b):
    print(a+b)

In [66]:
add(2,3)

5

In [67]:
add(2,3) * 2

5

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [72]:
def add1(a,b):
    return(a+b)

In [73]:
add1(3,4)

7

In [75]:
add1(3,4)*2

14